# Virtual environments
.venv/
env/

# Python cache
__pycache__/
*.pyc

# IDEs
.vscode/
!.vscode/settings.json
!.vscode/extensions.json
.idea/

# Environments
.env

# Node & Next.js
node_modules/
.next/
out/
build/


